<header class="header-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-3">
        <div class="logo">
          <a href="/">lens<br /><span>light</span></a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="navbar-area" style="float: right">
          <nav class="site-navbar">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/photos">Photos</a></li>

              <% if (user) { %>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/auth/logout">Logout</a></li>
              <% } else { %>
              <li><a href="/auth/register">Register</a></li>
              <li><a href="/auth/login">Login</a></li>
              <% } %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
